{# templates/lucky/number.html.twig #}

{% extends 'base.html.twig' %}

{% block title %} Lucky Number Slevin {% endblock %}

{% block body %}
  <h1>Your lucky number is {{ randomNumber }}</h1>
  <h1>Your manual number is {{ userNumber }}</h1>
{% endblock %}
