@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);

// customize some Bootstrap variables
$brand-primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// Variables
$white: #fff;
$sheets: #0f9d58;
$pdf: #db4437;
$doc: #4285f4;
$slides: #f5b707;
$code: #00a78e;

// Mixins
@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

body {
	background-color: $white;
	font-smoothing: antialiased;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 50px;
	font-weight: 300;
	color: #777;
	margin-bottom: 0;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 16px;
	color: #bbb;
}

h1, h2, form, div.alert {
	text-align: center;
}

// Header Menu
#hMenu { background-color: #2B2B2B; }
#hMenu ul { list-style:none; text-align:center; border-top:1px solid #eee; border-bottom:1px solid #eee; padding:10px 0; }
#hMenu ul li { display:inline; text-transform:uppercase; padding:0 10px; letter-spacing:10px; }
#hMenu ul li a { text-decoration:none; color:#eee; }
#hMenu ul li a:hover { text-decoration:underline; }
